<ul class="vertical ex">
  <li><a color="primary" routerLink="upload">Загрузить CDR файл</a></li>
  <li><a color="primary" routerLink="cdr">Посмотреть CDR</a></li>
  <li><a color="primary" routerLink="history">Выгрузка по номеру</a></li>
  <li><a color="primary" routerLink="operator">Операторы</a></li>
  <li><a color="primary" routerLink="report/menu">Отчеты</a></li>
  <li><a color="primary" routerLink="about">О программе</a></li>
  <li><a color="primary" (click)="logout()">Выход</a></li>
</ul>
